body {
    font-family: var(font-family);
    background-color: var(--maastricht-blue);
    color: var(--white);
    line-height: var(--line-height-text);
    letter-spacing: 3%;
}

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: var(--white);
    gap:1em;
    align-items: center;  /* zorgt ervoor dat het logo niet uitgerekt is*/
    position: relative;
    padding: 1.5em;
    z-index: 1;
    justify-content: space-between;

    .header-button-contact-us {
            background-color: var(--carolina-blue);
            border-radius: 2em;
            text-align: center;
            color: var(--white);
            padding: 0.5em 0.8em ;
            text-decoration: none;

            &:hover {
            background-color: transparent;    
            border: 2px solid var(--carolina-blue);
            color: var(--carolina-blue);
        }
    }

    img {
        filter: brightness(0);  /* zorgt dat svg zwart is */
    }

        @media (width > 900px) {
        justify-content: space-between;
        padding: 0.7em;

        .header-button-contact-us  {
            display: none;
        }
    }

    .assist-digital-logo {
        margin-left: 2em;
    }
}

 /* ☰ button */
.menu-btn {
    display:block;
    appearance: none;
    background-color: transparent;
    color: var(--black);
    border: none;
    order:-1;   /* dit zorgt ervoor dat hij voor het logo staat*/
    z-index: 1;
    transition:.5s;
    

    /* als nav open is */
    &.is-open {
        rotate: 180deg;
        /* display: none; */
    }

    @media (width > 900px) {
        display: none;
    }
}


 /* menu met alle ul */
.header-nav {
    position: fixed;
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    inset: 0;   /* is een verkorte code van de 4 hierboven */
    padding-block-start: 4em;  /* zorgt ervoor dat er boven ruimte onstaat */
    background-color: var(--lights-lapis-lazuli);
    transition:.5s;
    translate: -100%;   /* zorgt ervoor dat hij uit beeld is */

    /* als nav open is */ 
    &.is-open {
        translate:0;
    }

      &.is-open img {
        content:url("https://assets.codepen.io/274456/ui-icon-cross.svg");
        position: relative;
        right: -25px;
        top: -25px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 5em;
        gap: 2em;
    } 

    a {
        text-decoration: none;
        color: var(--maastricht-blue);
        padding: 1em 2em;
        transition: background-color 150m ease;
        display: flex;
        justify-content: center;

        &.contact-link {
            background-color: var(--carolina-blue);
            border-radius: 2em;
            text-align: center;
            color: var(--white);
        }

        &:hover {
            text-decoration: underline;
            text-underline-offset: 0.3em;
        }
    }

    @media (width > 900px) {
        position: static; /* zorgt ervoor dat het weer 'normaal scherm is' */
        background: none;
        padding-block-start: 0;
        padding: 1em 0em 1em 0em ;
        translate: 0;
        
        ul {
            flex-direction: row;
            padding-right: 1.5em;
            margin: 0em;
        } 
    }
}

a.contact-link:hover {
    background-color: transparent;
    text-decoration: none;
    text-underline-offset: 0.3em;
    border: 2px solid var(--carolina-blue);
    color: var(--carolina-blue);
}

.banner-picture {
    width: 100%;
    margin-bottom: 1em;
    filter: brightness(77%); 

    @media (width > 800px) {
        height: 320px;
        object-fit: cover;
    }
}

h1 {
    margin: 0.2em;
}

/* zorgt dat de tekst op de afbeelding staat */
.overlay {
    position: absolute;
    top: 26%;
    left: 39%;
    transform: translate(-50%, -50%);
}

h2 {
    padding-bottom: 0.4em;
}


/* 3D live viewer 270 degrees */
.foto-right {
    margin-right: -2em;
    margin-left: auto;
    margin-bottom: 3.5em;
}

.foto-left {
    margin-left: -2em;
    margin-right: auto;
    margin-bottom: 3.5em;
}

/* 3 teksten + afbeeldingen */
.viewer, .configurator, .full-experience {
    margin-left: 2em;
    margin-right: 2em;
}

.viewer ul, .configurator ul, .full-experience ul {
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 2.2em;
}

.arrow {
  list-style-type: none;
  padding: 0;

  li {
    list-style: none;
    padding-left: 25px;
    position: relative;

    &::before {
    content: "⭢"; 
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px; 
    color: var(--carolina-blue); 
    }

    animation-name: fade-in;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in linear;
    animation-fill-mode: backwards;
    }
}

.arrow li:nth-child(1) { animation-delay: 0.1s; }
.arrow li:nth-child(2) { animation-delay: 0.9s; }
.arrow li:nth-child(3) { animation-delay: 1.8s; }


@keyframes fade-in {
  from {
    transform: translateX(-100%); /* Start 100% links buiten beeld */
    opacity: 0;
  }
  to {
    transform: translateX(0%); /* Start 100% links buiten beeld */
    opacity: 1;
  }
}


.viewer img, .configurator img, .full-experience img {
    padding-bottom: 2em;
    display: flex;
}

.quote {
    background-color: var(--space-cadet);
    padding: 1em;
    text-align: center;
    margin-bottom: 1.5em;
    font-size: var(--font-size-xl);

    .h3 {
        margin: 0.5em;
    }
}

/* span kleur verandering in de quote/zin */
.special-color {
    color: var(--carolina-blue);
}

.assets-implemenatation {
    margin-left: 2em;
    margin-right: 2em;

    @media (width > 800px) {
            margin-left: 4em;
             margin-right: 10em;
             font-size: var(--font-size-s);
        }

    /* illustatie afbeelding */
    img {
        width: 100%;
        margin-top: 2.5em;
        margin-bottom: 2em;
    }
}

.get-in-touch {
    background-color: var(--dark-cerulean);

    p {
        font-size: var(--font-size-xl);
        margin: 0.5em 1em 0.7em 1em;

        @media (width > 800px) {
            margin-left: 2.4em;
        }
    }


    h3 {
        padding-left: 2em;
        padding-top: 1.5em;
        font-size: var(--font-size-xs);

        @media (width > 800px) {
            margin-left: 3em;
        }
    }
    
} 


/* button Contact us */
.Contact-us {
  padding: var(--button-size);
  letter-spacing: 3%;
  background-color: var(--carolina-blue);
  border: 2px solid var(--carolina-blue);
  border-radius: var(--border-radius);
  font-family: var(--font-family);
  color: var(--white);
  cursor: pointer;
  display: inline-flex;
  align-items: center;

  &:focus {
    outline-offset: 0.1em;
  }

  &:active {
    border: 2px solid var(--carolina-blue);
  }

  &:hover {
    background: transparent;
    color: var(--white);
    border: 2px solid var(--maya-blue);
  }
}

.rotate {
  animation-name: --rotateUp;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes --rotateUp {
  0% { 
    transform: rotate(0deg); 
  }

  100% { 
    transform: rotate(360deg); 
  }  
} 


/* button Learn more about 270 */
.Learn-more-about-270 {
  padding: var(--button-size);
  letter-spacing: 3%;
  background-color: transparent;
  border: 2px solid var(--maya-blue);
  border-radius: var(--border-radius);
  font-family: var(--font-family);
  color: var(--maya-blue);
  cursor: pointer;
  display: inline-flex;
  align-items: center;

  &:focus {
    outline-offset: 0.1em;
  }

  &:active {
    border: 2px solid var(--carolina-blue);
  }

  &:hover {
    background: var(--carolina-blue);
    color: var(--white);
    border: 2px solid var(--carolina-blue);
  }
}

.buttons {
    text-align: center;
    padding-bottom: 2em;

    a {
        text-decoration: none;
    }

    @media (width > 800px) {
        display: flex;
        gap: 1em;
        margin-left: 4.5em;
        margin-top: 2em;
    }
}

footer {
    background-color: var(--white);

    @media (width > 800px) {
        display: flex;
        align-items: center; 
        justify-content: space-between; 
    }
}

footer p, .sublogo {
    color: var(--black);
    padding-left: 2em;
    padding-top: 0.4em;
}


.sub-logo {
    padding-left: 2em;
    padding-top: 1.3em;


    @media (width > 800px) {
        padding-top: 0em;
     
    }
}

footer a {
    color: var(--black);
    text-decoration: none;

    &:hover {
        color: var(--dark-cerulean);
        text-decoration: underline;
    }
}

footer ul {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin: 1em;

    @media (width > 800px) {
        display: flex;
        justify-content: end;
        gap: 1em;
    }
}










